/* Base Styles */
*,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Grandstander", cursive;
}

.banner {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  color: white;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.banner > * {
  position: relative;
  z-index: 2;
}

.banner-content {
  text-align: center;
}

.banner-heading {
  margin-bottom: 30%;
}

.banner-heading p {
  padding: 1.2rem;
  font-size: 1.5rem;
}

.banner-heading h3 {
  font-weight: 300;
  font-size: 2.5rem;
}


.hero {
  padding-top: 144px;
}


/* Media query for screens below 768px */
@media (max-width: 768px) {
  .banner-heading p {
    padding: 1rem;
    font-size: 1.2rem;
  }

  .banner-heading h3 {
    font-weight: 300;
    font-size: 2rem;
  }
  .hero {
    padding-top: 105px;
  }
}

/* Media query for screens below 576px */
@media (max-width: 576px) {
  .banner-heading p {
    padding: 0.6rem;
    font-size: 0.7rem;
  }

  .banner-heading h3 {
    font-weight: 300;
    font-size: 1.2rem;
  }
  .hero {
    padding-top: 85px;
  }
}
